body {
    font-family: Source Sans Pro, Helvetica Neue, Helvetica, Arial, sans-serif;
    line-height: 1.42857143;
    color: #333;
}
#parametrosDivContenedorTicket{
    padding-bottom: 10px
}
#parametrosIdTurnosVistaPreviaTicket{
    height: auto;
    text-align: center;
    margin: 0 auto;
    /*border:gray solid 1px;*/
    display: table
}
#turnosDivContenedoPrincipalTurno{
    width: 100%;
    padding: 5px;
    margin-bottom: 5px;
    float:left
}
#parametrosIdTurnosVistaPreviaDivContenedorLogo{
    width: 100%;
    padding: 5px;
    text-align: center;
    float:left
}
.parametorsClsTicketVistaPreviatotal{
    width: 100%; 
}
.parametorsClsTicketVistaPreviacentrado{
    text-align: center;
}
.parametorsClsTicketVistaPreviaflotaizquierda{
    float: left;
}
.parametorsClsTicketVistaPreviatextoizquierda{
    text-align: left;
}
.parametorsClsTicketVistaPreviamedio{
    width: 50%;
}
.parametorsClsTicketVistaPreviaoculto{
    display: none;
}
.parametorsClsTicketVistaPreviatextoderecha{
    text-align: right;
}